@import config
    
// .details
//     @%generic-border
//     width: 70%
//     margin: 5% 15%
//     display: grid
//     grid-template-columns: repeat(2, 1fr)
//     grid-template-rows: 1fr repeat(3, auto)
//     img 
//         grid-area: 1/1/1/1
//         margin-left: 20%
//     .card-info
//         grid-area: 1/2/1/2
//         list-style: none
//         display: flex
//         margin-top: 17%
//         flex-direction: column

//         & > li
//             margin-bottom: 3%

//     span, .btn-wishlist, .btn-deck
//         width: 50%
//         margin-left: 25%
//         margin-bottom: 3%
//     span 
//         grid-area: 2/1/2/1
//     .btn-wishlist
//         grid-area: 3/1/3/1
//     .btn-deck
//         grid-area: 4/1/4/1

.details
    @extend %general-font
    @extend %generic-bg
    display: flex
    flex-direction: column   
    height: 65vh  
           
    &__nameuser
        text-align: center
        margin-top: 5%
    &__container
        display: flex
        justify-content: center
        width: 80%
        margin: 0 auto  
        height: 20%

    &__image
        width: auto
        margin: 0 auto
        max-height: 277px

    &__container-rating
        text-align: center
        margin-bottom: 20px
        height: 10%
        font-size: 2em

    &__adds
        display: flex
        flex-direction: column
        width: 70%
        margin: 0 auto
        height: 5%

    &__btn-wishlist
        @extend %general-buttons
        @extend %general-font
        margin-bottom: 20px
        height: fit-content
        font-size: 1.5em
        &.checked-details
            background-image: linear-gradient(#463b37, #8d745f)
    
    &__btn-deck
        @extend %general-buttons
        @extend %general-font
        margin-bottom: 20px
        height: fit-content
        font-size: 1.5em

    &__arrow
        text-decoration: none
        font-size: 1.3rem
        color:#7a3613
        margin: 5px 0 0 20px

.card-info
    font-size: 1.3rem
    margin: 20px auto    
    list-style: none

button
    transition: opacity .2s
    &:hover
        opacity: 0.5
    &:active
        background-image: linear-gradient(#5f514b, #ac8e74)
        transform: translate(0.1em, 0.1em)


    

@media screen and (min-width: 768px)
    .details    
        &__image
            width: auto
            margin: 0 auto
            max-height: 383px

        &__adds
            display: flex
            flex-direction: column
            width: 30%
            margin: 0 auto
            height: 5%
            