@import config
<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/hearthstone-develop
.register
    @extend %generic-border
    display: flex
    flex-direction: column
    width: 35%
    margin: 5% 32.5%
<<<<<<< HEAD

    &>*
        margin-bottom: 4%

    h2
        text-align: center

    .textbox
        @extend %generic-border
        padding: 2%

    .age
        @extend %generic-border
        width: 20%

=======
    &>*
        margin-bottom: 4%
    h2
        text-align: center
    .textbox
        @extend %generic-border
        padding: 2%
    .age
        @extend %generic-border
        width: 20%
>>>>>>> refs/remotes/origin/hearthstone-develop
    .gender-radio
        display: flex
        flex-direction: row
        font-size: 0.5em
<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/hearthstone-develop
    .button, a
        @extend %generic-border
        text-align: center