@import config

.results
    display: flex
    width: 90%
    margin-left: 5%
    flex-wrap: wrap
    list-style: none
    text-align: center

    &__card
        width: 22%

        img
            max-width: 90%