@import config

.results
    display: flex
    width: 90%
    margin-left: 5%
    flex-wrap: wrap
    list-style: none
    text-align: center
    align-items: center
    align-content: center

    &__card
        width: 22%
        display: grid
        grid-template-rows: auto 1fr repeat(3, auto)
        text-align: center

        img
            grid-area: 2 / 1 / 2 / 1
            width: 90%
            margin-left: 5%

.fas
    font-size: 1.5em

    &.checked
        color: orange