@import config
<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/hearthstone-develop
.search
    @extend %generic-border
    width: 60%
    margin: 5% 20%
<<<<<<< HEAD

    & > *
        margin: 1.5% auto

    .browser
        @extend %generic-border
        width: 60%

.accordion, .mana-cost
    @extend %generic-border
    cursor: pointer

.container-filters
    & > *
        margin: 1.5%
=======
    & > *
        margin: 1.5% auto
    .browser
        @extend %generic-border
        width: 60%
.accordion, .mana-cost
    @extend %generic-border
    cursor: pointer
.container-filters
    & > *
        margin: 1.5%



>>>>>>> refs/remotes/origin/hearthstone-develop
