@import login
@import details
@import register
@import search
@import feedback
@import config
@import btns-logged
@import results
@import header
@import wishlist
<<<<<<< HEAD
=======

>>>>>>> 5d090092b09220c25c0dee67a4bc05c680573659
*
    margin: 0
    padding: 0

h1
    text-align: center


