@config;
.container-login {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url("treeLogin.jpg") center no-repeat;
  height: 100vh;
  background-size: cover;
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  color: white;
  text-align: center;
  height: 10vh;
}

.logo {
  width: auto;
  height: 5.5em;
}

input {
  padding: 0.7rem;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.11);
  font-size: 1.2rem;
  text-align-last: center;
  margin-top: 20px;
  box-shadow: 3px 10px #88888847;
  border-top-color: #ffffff00;
}

::placeholder {
  color: black;
}
::placeholder button {
  margin-left: 31%;
  width: 40%;
  border-radius: 2%;
}

.login-button {
  border-bottom-color: #fbf7f7;
  border-top-color: #fffafa00;
  cursor: pointer;
  background-color: #3faee09e;
  padding: 0.7rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}

.login-button:hover {
  background-color: #64c7ccd1;
}

a {
  padding-bottom: 5%;
  text-decoration: none;
  font-size: 1.3rem;
}

.login > * {
  margin-top: 2rem;
}

.btns-logged__deck, .btns-logged__wishlist, .feedback, .accordion, .mana-cost, .search .browser, .search, .register .button, .register a, .register .age, .register .textbox, .register, .details {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.details {
  width: 70%;
  margin: 5% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3, auto);
}
.details img {
  grid-area: 1/1/1/1;
  margin-left: 20%;
}
.details .card-info {
  grid-area: 1/2/1/2;
  list-style: none;
  display: flex;
  margin-top: 17%;
  flex-direction: column;
}
.details .card-info > li {
  margin-bottom: 3%;
}
.details span, .details .btn-wishlist, .details .btn-deck {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3%;
}
.details span {
  grid-area: 2/1/2/1;
}
.details .btn-wishlist {
  grid-area: 3/1/3/1;
}
.details .btn-deck {
  grid-area: 4/1/4/1;
}

.btns-logged__deck, .btns-logged__wishlist, .feedback, .accordion, .mana-cost, .search .browser, .search, .register .button, .register a, .register .age, .register .textbox, .register, .details {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.register {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 5% 32.5%;
}
.register > * {
  margin-bottom: 4%;
}
.register h2 {
  text-align: center;
}
.register .textbox {
  padding: 2%;
}
.register .age {
  width: 20%;
}
.register .gender-radio {
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
}
.register .button, .register a {
  text-align: center;
}

.btns-logged__deck, .btns-logged__wishlist, .feedback, .accordion, .mana-cost, .search .browser, .search, .details, .register, .register .textbox, .register .age, .register .button, .register a {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.search {
  width: 60%;
  margin: 5% 20%;
}
.search > * {
  margin: 1.5% auto;
}
.search .browser {
  width: 60%;
}

.accordion, .mana-cost {
  cursor: pointer;
}

.container-filters > * {
  margin: 1.5%;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.btns-logged__deck, .btns-logged__wishlist, .feedback, .details, .register, .register .textbox, .register .age, .register .button, .register a, .search, .search .browser, .accordion, .mana-cost {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.feedback {
  text-align: center;
}
.feedback--error {
  color: red;
}

.btns-logged__deck, .btns-logged__wishlist, .details, .register, .register .textbox, .register .age, .register .button, .register a, .search, .search .browser, .accordion, .mana-cost, .feedback {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.btns-logged__deck, .btns-logged__wishlist, .details, .register, .register .textbox, .register .age, .register .button, .register a, .search, .search .browser, .accordion, .mana-cost, .feedback {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.btns-logged {
  display: grid;
  grid-template-columns: 15% auto 15%;
}
.btns-logged > * {
  text-align: center;
}
.btns-logged__wishlist {
  grid-area: 1/1/1/1;
}
.btns-logged__deck {
  grid-area: 1/3/1/3;
}

.details, .register, .register .textbox, .register .age, .register .button, .register a, .search, .search .browser, .accordion, .mana-cost, .feedback, .btns-logged__wishlist, .btns-logged__deck {
  padding: 3%;
  border: 3px solid #2c2c2c;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em black;
}

.results {
  display: flex;
  width: 90%;
  margin-left: 5%;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  align-items: center;
  align-content: center;
}
.results__card {
  width: 22%;
  display: grid;
  grid-template-rows: auto 1fr repeat(3, auto);
  text-align: center;
}
.results__card img {
  grid-area: 2/1/2/1;
  width: 90%;
  margin-left: 5%;
}

.fas {
  font-size: 1.5em;
}
.fas.checked {
  color: orange;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
