<<<<<<< HEAD
@import register
@import search
@import config

*
    margin: 0
    padding: 0
=======
@import login
@import details
@import register
@import search
@import feedback
@import config
@import btns-logged
@import results

*
    margin: 0
    padding: 0

h1
    text-align: center
>>>>>>> refs/remotes/origin/hearthstone-develop
