@import config.sass


body
    margin: 0
    box-sizing: border-box
    width: 100%
    font-family: 'EB Garamond', serif

      
    .container1
        margin-top: 1rem
        display: -webkit-inline-box
        flex-direction: column
        margin-left: 37px

        &__modal
            margin-top: 13em
            border: 3px solid $color-margenta
            padding: 1em
            width: 14em
            margin-left: 2em
            font-weight: 900
            font-size: 20px
            text-align: center
            background-color: $background

        &__option
            height: 3em
            border-radius: 16%
            width: 34%
            margin: 1em
            color: #A569BD
            font-weight: 900
            font-size: 14px
            background-color: $background

    .alert
        font-family: 'Montserrat Alternates', sans-serif
        margin-bottom: 0.5rem
        -webkit-appearance: none
        background-color: #f6d4f0
        height: 15vh
        width: 62vw
        border-radius: 0.3rem
        box-shadow: 0 0 5px #131212
        font-size: 13px
        &:hover
            filter: brightness(1.2)
            cursor: pointer
        border: 1px solid #efd9ea

    .delete
        font-size: 1.5em;
        background: none;
        border: none;
        margin-top: 1.6em;
        margin-left: 0.5em
       

    