.detailPet
    text-align: center
    border-bottom: #efd9ea solid 0.2rem
    font-size: 130%
    width: 80%
    margin: 0 auto
    display: flex
    margin-bottom: 1.5em
    justify-content: center
    color: #A569BD

li
    font-size: 18px
    list-style-type: none
    padding-bottom: 8px

    &__span
        text-transform: lowercase

    &__span:firs-letter
        text-transform: uppercase
    