@import config.sass
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap')

.container-diagnostic
    margin: 0 auto
    justify-item: center
    self-align: center

    &__title
        border-bottom: #efd9ea solid 0.2rem
        font-size: 130%
        width: 80%
        display: flex
        margin-bottom: 0.5em
        justify-content: center
        color: #A569BD
        margin-left: 1.7em
    