@import config.sass


body
    margin: 0
    box-sizing: border-box
    width: 100%
    font-family: 'EB Garamond', serif

.diagnostic
    display: flex
    flex-direction: row

    &__data
        font-size: 18px
        list-style-type: none
        padding-bottom: 8px

  


