@import config.sass


.container-diagnostic
    margin: 0 auto
    justify-item: center
    self-align: center
    font-family: 'EB Garamond', serif

    &__title
        border-bottom: #efd9ea solid 0.2rem
        font-size: 130%
        width: 80%
        display: flex
        margin-bottom: 0.5em
        justify-content: center
        color: $color-margenta
        margin-left: 1.7em
    