@import config.sass

body
    margin: 0
    box-sizing: border-box
    width: 100vw
    hight: 100vh

.register
    display: flex
    flex-direction: column
    justify-content: center


    &__logo
        display: flex

    &__imageLogo
        width: 100%;
        margin-top: 3em
        margin-left: 2em

    &__title
        margin-top: 1em
        text-align: center
        margin-left: 3em

    & > div > a
    width: 60%
    display: inline-block
    text-align: center
    margin-top: 1em
    margin-left: 3em
                          
    &__form
        width: 70%
        margin: 0 auto

    &__input
        display: flex
        padding: 8px 26px
        box-sizing: border-box
        border: none
        border-bottom: 2px solid #A569BD
        margin-bottom: 7%
        margin-top: -6%

    &__accept
        position: fixed
        z-index: 10
        bottom: 2rem
        right: 1rem
        background: none
        border: none
        font-size: 20px
      
    

