@import config.sass
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap')

 
select
    height: 2.6em
    border: none
    background: white
    font-size: 15px
    padding: 8px 26px
    box-sizing: border-box
    border: none
    border-bottom: 2px solid #A569BD
    margin-top: 1%
    width: 79%
    font-size: 14px
    color: grey
    padding-left: 19px
