@import config.sass

body 
    margin: 0
    box-sizing: border-box
    width: 100%
    

.login
    display: flex
    justify-content: center
    flex-direction: column
    margin-right: 1rem
    margin-left: 1rem
    justify-content: center
    align-content: center
        
    &__username
        text-align: center
        margin-top: 0

    
    &__header 
        display: flex
        justify-content: space-between
        width: 95%
        height: 20%
        margin-top: 0.5em
        margin-left: 0.5em
    
            
             
    &__logo
        height: 5em
        margin-top: 0


.sections
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: 80%

    & > a
        width: 60%
        display: inline-block
        text-align: center
  
    &__button
        height: 7em
        border-radius: 20%
        width: 60%
        margin: 1em
        color: #A569BD
        background-color: #F5EEF8


    

   
      