@import config.sass

body
    margin: 0
    box-sizing: border-box
    width: 100%

.new-alert
    display: flex
    flex-direction: column
    justify-content: center

    &__logo
        display: flex

    &__imageLogo
        width: 100%

    &__title
        border-bottom: #efd9ea solid 0.2rem
        font-size: 130%
        width: 80%
        margin: 0 auto
        display: flex
        justify-content: center
        color: #A569BD
        margin-bottom: 2em
              
    &__form
        width: 70%
        margin: 0 auto

    &__input
        display: flex
        padding: 8px 26px
        box-sizing: border-box
        border: none
        border-bottom: 2px solid #A569BD
        margin-bottom: 7%
        margin-top: -6%
            
    &__accept
        position: fixed
        z-index: 10
        bottom: 2rem
        right: 1rem