@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: center;
  align-content: center;
}
.login__username {
  text-align: center;
  margin-top: 0;
}
.login__header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 20%;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
.login__logo {
  height: 5em;
  margin-top: 0;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}
.sections > a {
  width: 60%;
  display: inline-block;
  text-align: center;
}
.sections__button {
  height: 7em;
  border-radius: 20%;
  width: 60%;
  margin: 1em;
  color: #A569BD;
  background-color: #F5EEF8;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register__logo {
  display: flex;
}
.register__imageLogo {
  width: 100%;
}
.register__title {
  border-bottom: #efd9ea solid 0.2rem;
  font-size: 130%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  color: #A569BD;
  margin-top: -1em;
}
.register__form {
  width: 70%;
  margin: 0 auto;
}
.register__input {
  display: flex;
  padding: 8px 26px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #A569BD;
  margin-bottom: 7%;
  margin-top: -6%;
}
.register__accept {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 1rem;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.logo {
  display: flex;
}

.imageLogo {
  width: 100%;
}

.access {
  text-align: center;
  margin-top: 20%;
  margin-right: 2em;
  height: 7em;
}
.access__input {
  width: 47%;
  border-radius: 9%;
  height: 1.6em;
  text-align: center;
  margin-left: 0.8em;
}

.enter {
  text-align: center;
  margin-left: 0.8em;
}
.enter__button {
  width: 20%;
  border-radius: 9%;
  margin-left: 0.6em;
  margin-right: 1.5em;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.alerts {
  text-align: center;
  margin: 0 auto;
  justify-item: center;
  self-align: center;
}
.alerts__title {
  border-bottom: #efd9ea solid 0.2rem;
  font-size: 130%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  color: #A569BD;
  margin-top: -1em;
}
.alerts__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alerts__alert {
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 0.5rem;
  -webkit-appearance: none;
  background-color: #f6d4f0;
  height: 8vh;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px #131212;
}
.alerts__alert:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.alerts__add {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 1rem;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.new-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-alert__logo {
  display: flex;
}
.new-alert__imageLogo {
  width: 100%;
}
.new-alert__title {
  border-bottom: #efd9ea solid 0.2rem;
  font-size: 130%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #A569BD;
  margin-bottom: 2em;
}
.new-alert__form {
  width: 70%;
  margin: 0 auto;
}
.new-alert__input {
  display: flex;
  padding: 8px 26px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #A569BD;
  margin-bottom: 7%;
  margin-top: -6%;
}
.new-alert__accept {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 1rem;
}

.visit {
  text-align: center;
  margin: 0 auto;
  justify-item: center;
  self-align: center;
}
.visit__title {
  border-bottom: #efd9ea solid 0.2rem;
  font-size: 130%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  color: #A569BD;
  margin-top: -1em;
}
.visit__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visit__alert {
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 0.5rem;
  -webkit-appearance: none;
  background-color: #f6d4f0;
  height: 8vh;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px #131212;
}
.visit__alert:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.visit__calendary {
  border: 2px solid black;
  width: 20vh;
  height: 20vh;
  margin-top: 2em;
  margin-left: 6em;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.new-appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-appointment__logo {
  display: flex;
}
.new-appointment__imageLogo {
  width: 100%;
}
.new-appointment__title {
  border-bottom: #efd9ea solid 0.2rem;
  font-size: 130%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  color: #A569BD;
}
.new-appointment__form {
  width: 70%;
  margin: 0 auto;
}
.new-appointment__input {
  display: flex;
  padding: 8px 26px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #A569BD;
  margin-bottom: 7%;
  margin-top: -6%;
}
.new-appointment__create-appointment {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 1rem;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.pets {
  text-align: center;
  margin: 0 auto;
  justify-item: center;
  self-align: center;
}
.pets__title {
  border-bottom: #efd9ea solid 0.2rem;
  font-size: 130%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  color: #A569BD;
  margin-top: -1em;
}
.pets__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets__plus-pet {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 1rem;
}

.animal {
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 0.5rem;
  -webkit-appearance: none;
  background-color: #f6d4f0;
  height: 8vh;
  width: 24vh;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px #131212;
}
.animal:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
